<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


        <div class="row">
        <div class="large-12 columns">
     
         
          <div class="row">
            <div class="large-12 columns">
     
              <nav class="top-bar" data-topbar>
                <ul class="title-area">
                   
                  <li class="name">
                    <h1>
                      <a href="#">
                        Real Aero Club de León
                      </a>
                    </h1>
                  </li>
                  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>
             
                <section class="top-bar-section">
                   
                  <ul class="right">
                    <li class="divider"></li>
                    <li class="has-dropdown">
                      <a href="#">Main Item 1</a>
                      <ul class="dropdown">
                        <li><label>Section Name</label></li>
                        <li class="has-dropdown">
                          <a href="#" class="">Has Dropdown, Level 1</a>
                          <ul class="dropdown">
                            <li><a href="#">Dropdown Options</a></li>
                            <li><a href="#">Dropdown Options</a></li>
                            <li><a href="#">Level 2</a></li>
                            <li><a href="#">Subdropdown Option</a></li>
                            <li><a href="#">Subdropdown Option</a></li>
                            <li><a href="#">Subdropdown Option</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Dropdown Option</a></li>
                        <li><a href="#">Dropdown Option</a></li>
                        <li class="divider"></li>
                        <li><label>Section Name</label></li>
                        <li><a href="#">Dropdown Option</a></li>
                        <li><a href="#">Dropdown Option</a></li>
                        <li><a href="#">Dropdown Option</a></li>
                        <li class="divider"></li>
                        <li><a href="#">See all →</a></li>
                      </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Main Item 2</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                      <a href="#">Main Item 3</a>
                      <ul class="dropdown">
                        <li><a href="#">Dropdown Option</a></li>
                        <li><a href="#">Dropdown Option</a></li>
                        <li><a href="#">Dropdown Option</a></li>
                        <li class="divider"></li>
                        <li><a href="#">See all →</a></li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </nav>
               
            </div>
          </div>
     
         
     
          <div class="row">
     
       
     
            <div class="large-4 small-12 columns">
     
              <div class="escudo">
                <img src="/imagenes/escudo500x500.jpg">
              </div>
     
              <div class="show-for-large-up">
                <h5 class="subheader">El Real Aero Club de León es una asociación privada de León de carácter deportivo, recreativo, cultural y de ocio creada en 1951, con sedes en León capital y en el municipio de la Virgen del Camino.
                </h5>
              </div>

     
            </div>
     
         
     
     
         
     
            <div class="large-8 columns">
              <div id="container">
     
                <div class="item">
                  <img src="/imagenes/escuelaTenis.jpg">
     
                  <div class="descripcion-item-destacado">
                    <h5>Escuela de tenis y padel</h5>
                  </div>
                </div>

                <div class="item">
                  <img src="/imagenes/equiposFutbol.jpg">
     
                  <div class="descripcion-item-destacado">
                    <h5>Equipos de fútbol</h5>
                  </div>
                </div>     

                <div class="item">
                  <img src="/imagenes/teamNatacion.jpg">
     
                  <div class="descripcion-item-destacado">
                    <h5>Equipos de natación</h5>
                  </div>
                </div>                             
     
                <div class="item">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item NameItem NameItem NameItem NameItem NameItem NameItem NameItem NameItem NameItem NameItem NameItem NameItem Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="item">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="item">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="item">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="item">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
              </div>
     
         
     
     
         
              <div class="row">
                <div class="large-12 columns">
                  <div class="panel">
                    <div class="row">
     
                      <div class="large-2 small-6 columns">
                        <img src="http://placehold.it/300x300&text=Site Owner">
                      </div>
     
                      <div class="large-10 small-6 columns">
                        <strong>This Site Is Managed By<hr/></strong>
     
                        Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                      </div>
     
                    </div>
                  </div>
                </div>
     
         
     
              </div>
            </div>
          </div>
     
     
         
     
          <footer class="row">
            <div class="large-12 columns"><hr/>
              <div class="row">
     
                <div class="large-6 columns">
                  <p>© Copyright no one at all. Go to town.</p>
                </div>
     
                <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
                </div>
     
              </div>
            </div>
          </footer>
     
         
     
        </div>
      </div>


<script>
$(function() {
  var $container = $('#container').imagesLoaded( function() {
    $container.isotope({
      // options
      itemSelector: '.item',
      layoutMode: 'fitRows'
    }); 
  });
});  
</script>   
    

    {% include header.html %}

    <img src="/imagenes/piscina.jpg" class="ancho-total">

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
